/backend/node_modules/
/backend/backend/
/backend/dist/
/backend/.env
/backend/projects/
/backend/uploads/

/frontend/node_modules/
/frontend/build/
/frontend/.env

/zip-sync-frontend/node_modules/
/zip-sync-frontend/build/
/zip-sync-frontend/.env

/node_modules/

/feedback-widget/node_modules/
/feedback-widget/.env